<div class="transac">
  <app-sidebar></app-sidebar>

  <div class="contain">
    <table class="first table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom du client</th>
          <th scope="col">Nombre de transaction</th>
          <th scope="col">Last</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Jean</td>
          <td>2</td>

        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Fleur</td>
          <td>25</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
