.homecontent{
  display: flex;
  height: 100vh;
  overflow-y:hidden;
}
.animation{
   position: relative;
   margin-left: 310px;
   margin-top: 250px;
   width: 600px;
   height: 300px;

}

.animation img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
