<!-- sidebar.component.html
<body>
  <nav class="sidebar">
    <div class="sidebar_logo">
      <h3>Logo</h3>
      <img src="/src/assets/image/3.png" alt="">
    </div>

    <ul class="list-unstyled components">
      <p>Menu</p>
      <li>
        <a href="#">Accueil</a>
      </li>
      <li>
        <a href="#">Home</a>
      </li>
    </ul>
    <div class="btn">
      <button class="first">Deconnexion</button>
    </div>

  </nav>

</body>
-->
<div class="all">
<div class="sidebar">

  <div class="toggle-btn">
      <i class='bx bx-menu' style="color:#000000"></i>
  </div>
  <div class="user">

    <i class=' iconperson bi bi-person-circle' style='color:#ffffff'></i>
    <span style="color: #ffffff ;">ADMIN</span>
  </div>

  <ul>
      <li><a href="/admihome"><i class=' icon bi bi-house-fill' style='color:#ffffff'></i>Home</a></li>
      <li><a href="/admilistecpte"><i class='icon bi bi-journal-bookmark' style='color:#ffffff' ></i> Gestion</a></li>
      <li><a href="/admintransacComponent"><i class='icon bi bi-cash-stack' style='color:#ffffff' ></i>Transactions </a></li>
      <li><a href="#"><i class='' style='color:#ffffff'  ></i>Settings </a></li>

  </ul>

</div>
</div>
